<footer>
		<div class="container margin_60_35" id="accordion">
			<div class="row top_section pt-3 pt-md-0 ">
				<div class="col-lg-3 col-md-12 d-none d-lg-block">
					<p>
						<a href="#" title="DentalDoor">
							<img src="assets/img/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5 class="collapse_trigger collapsed" data-toggle="collapse" data-target="#about_footer_collapse" aria-expanded="true" aria-controls="about_footer_collapse" id="about_footer">About</h5>
					<ul class="collapse links" id="about_footer_collapse" aria-labelledby="about_footer" data-parent="#accordion">
						<li><a href="#">About us</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 pt-2 pt-md-0">
					<h5 class="collapse_trigger collapsed" data-toggle="collapse" data-target="#usefullinks_footer_collapse" aria-expanded="false" aria-controls="usefullinks_footer_collapse" id="usefullinks_footer">Useful links</h5>
					<ul class="collapse links" id="usefullinks_footer_collapse" aria-labelledby="usefullinks_footer" data-parent="#accordion">
						<li><a href="#0">Dental Professionals</a></li>
						<li><a href="#0">Dental Offices</a></li>
						<li><a href="#0">Patients and Students</a></li>
						<li><a href="#0">User Portal</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 pt-2 pt-md-0">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><span style="line-height: 22px;">304 S Jones Blvd #4064 <br>Las Vegas, NV <br>United State of America</span></li>
						<li><a href="tel:+3 (700) 123-1073"> +3 (700) 123-1073</a></li>
						<!-- <li><a href="mailto:info@dentaldoor.com"> info@dentaldoor.com</a></li> -->
					</ul>
					<div class="follow_us">
						<!-- <h5>Follow us</h5> -->
						<div class="d-block d-lg-none mb-4"><img src="assets/img/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid"></div>
						<ul>
							<li><a href="#0"><i class="social_facebook"></i></a></li>
							<li><a href="#0"><i class="social_twitter"></i></a></li>
							<li><a href="#0"><i class="social_linkedin"></i></a></li>
							<li><a href="#0"><i class="social_instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li>
							<span class="dropdown">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    En
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							    <a class="dropdown-item" href="#">English</a>
							    <a class="dropdown-item" href="#">Spanish</a>
							  </div>
							</span>
						</li>
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© Copyright 2020 Dental Door</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->