/* Footer */
footer {
  background-color: #F5F8FA;
  color: #1F3041;
  border-top: 1.2px solid #C2C2C2;
}
footer h5 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1rem;
  color: #445363;
}
@media (max-width: 767px) {
  footer h5 {
    /* For less than 767px */
    margin-bottom: 10px;
    font-size: 0.95rem!important;
  }

  footer ul {
    /* For less than 767px */
    margin-bottom: 35px;
  }

  footer .collapse_trigger::after{
    font-family: fontello;
    content: '\e899';
    font-weight: 400;
    float: right;
    padding-right: 6px;
  }

  footer .collapse_trigger.collapsed::after{
    font-family: fontello;
    content: '\e896';
    font-weight: 400;
    float: right;
    padding-right: 6px;
  }

  footer ul li a{
    font-size: 0.875rem;
  }

  footer ul li{
    margin-bottom: 5px;
    font-size: 0.875rem;
  }
}

footer ul{
  margin: 0 0 15px 0;
}

footer ul li {
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #445363;
}
footer ul li a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  font-size: 0.9rem;
  color: #445363;
}
footer ul li a:hover {
  color: #219653;
}
footer ul li a i {
  margin-right: 10px;
  color: #fff;
}
footer ul.links li a:hover {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}
/*footer ul.links li a:hover:after {
  opacity: 1;
}
footer ul.links li a:after {
  font-family: 'ElegantIcons';
  content: "\24";
  position: absolute;
  margin-left: 5px;
  top: 1px;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}*/
footer ul.contacts li a i {
  margin-right: 10px;
  color: #219653;
}
footer #copy {
  text-align: right;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #445363;
  font-weight: 500;
}
@media (max-width: 767px) {
  footer #copy {
    /* For less than 767px */
    text-align: left;
    margin-bottom: 25px;
  }
}

.follow_us ul {
  margin: 0;
}
.follow_us ul li {
  display: inline-block;
  margin-right: 4px;
  font-size: 16px;
  font-size: 1rem;
}
.follow_us ul li a i {
    font-size: 0.9rem;
    color: #445363;
}
.follow_us ul li a i:hover {
  color: #219653;
}

/* Addtional links / Footer */
ul#additional_links {
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #999;
}
ul#additional_links li {
  display: inline-block;
  margin-right: 15px;
}
ul#additional_links li:first-child {
  margin-right: 20px;
}
ul#additional_links li:last-child:after {
  content: "";
}
ul#additional_links li a {
  /*opacity: 0.5;*/
  font-weight: 500;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul#additional_links li a:hover {
  opacity: 0.8;
}
ul#additional_links li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}



footer #additional_links .dropdown-toggle{
  background-color: transparent;
  border: 0;
  font-size: 0.875rem;
  padding: 0;
  margin: 0 0 0 5px;
  color: #1F3041;
  /*opacity: 0.5;*/
  font-weight: 500;
}

footer #additional_links .dropdown-toggle:hover{
  color: #219653;
  opacity: 1;
}

footer #additional_links .dropdown-toggle:focus {
    box-shadow: none;
}

footer #additional_links .dropdown-item{
  color: unset;
  font-size: 0.875rem;
}

footer #additional_links .dropdown-item:hover{
  color: unset;
}

footer #additional_links *{
  color: #445363;
}



/*CUSTOM CSS*/


footer hr{
  /*border: 1px solid #445363!important;*/
  border-color: #445363;
  background: #445363;
}

@media(min-width: 768px){
  footer #accordion .links {
    display: block;
    transition: none;
  }
}

@media(max-width: 767px){
  footer hr{
    border: 1px solid #445363!important;
    background: #445363;
  }
}



.content-wrapper footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content-wrapper footer .container {
  padding-top: 1rem!important;
  padding-bottom: .5rem!important;
}

.content-wrapper footer .top_section, .content-wrapper footer hr{
  display: none;
}

@media(min-width: 992px){
  .content-wrapper footer .container{
    max-width: unset;
    width: 100%;
    padding-right: 265px;
  }
}
