.tb-member-item td {
vertical-align: middle;
padding-top: 1rem;
padding-bottom: 1rem
}

.tb-member-item:first-child td:first-child {
border-radius: 4px
}

.tb-member-item .user-card .user-info {
flex-grow: 1
}

.tb-member-role {
width: 150px
}

.tb-member-info {
width: 40%
}

.tb-member-action {
text-align: right
}

.tb-member-action div>.link {
margin-left: .75rem
}

@media (max-width: 992px) {
.tb-member-action {
width: 150px
}
}

@media (max-width: 767px) {
.tb-member-info {
width: 60%
}
}

@media (max-width: 575px) {
.tb-member-item {
display: flex
}
.tb-member-info {
width: auto;
flex-grow: 1
}
.tb-member-action {
margin-left: auto;
width: auto
}
.table .tb-member-body .tb-member-action:last-child {
padding-right: .5rem
}
}

@media (max-width: 374px) {
.tb-member-item .user-card {
max-width: 200px
}
.tb-member-item .user-card .sub-text {
width: 96%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis
}
}

.tb-tnx-head {
font-size: 11px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.12em;
background: #f5f6fa
}

.tb-tnx-head td,
.tb-tnx-head th {
color: #8094ae;
padding: 0.625rem .25rem
}

.tb-tnx-head th {
border-top-left-radius: 4px;
border-top-right-radius: 4px
}

.tb-tnx-item {
font-size: 14px
}

.tb-tnx-item td {
padding: 1.25rem .25rem;
vertical-align: middle
}

.is-compact .tb-tnx-item td {
padding-top: .4rem;
padding-bottom: .4rem
}

.tb-tnx-id a {
display: block
}

.tb-tnx-id span {
font-weight: 500
}

.tb-tnx-item .tb-tnx-total {
font-weight: 500;
color: #526484
}

.tb-tnx-desc {
padding-right: .5rem
}

.tb-tnx-item .tb-tnx-date {
color: #8094ae
}

.tb-tnx-item .tb-tnx-date .date {
font-size: 13px
}

.tb-tnx-action {
width: 60px;
text-align: right
}

.tb-tnx-action .dropdown {
margin-top: -0.25rem;
margin-bottom: -0.25rem
}

.tb-tnx-btns .btn+.btn {
margin-left: .5rem
}

.tb-tnx-btns+.dropdown {
margin-left: 1rem
}

@media (max-width: 767px) {
.tb-tnx-item,
.tb-tnx-head {
display: flex;
width: 100%
}
.tb-tnx-item th,
.tb-tnx-head th {
flex-grow: 1;
padding-top: .5rem;
padding-bottom: .5rem
}
.tb-tnx-item td,
.tb-tnx-head td {
flex-grow: 1;
border: none;
padding-top: 0;
padding-bottom: 0
}
.tb-tnx-item {
flex-wrap: wrap;
padding-top: 1rem;
padding-bottom: 1rem
}
.tb-tnx-item:not(:last-child) {
border-bottom: 1px solid #e5e9f2
}
.tb-tnx-amount {
width: 110px;
text-align: right
}
.tb-tnx-id,
.tb-tnx-head th:first-child {
min-width: 85px;
padding-right: .25rem !important;
flex-grow: 0 !important
}
.tb-tnx-info {
width: 45%
}
.tb-tnx-date .date {
font-size: 12px
}
.tb-tnx-date .date+.date {
padding-left: .5rem
}
.tb-tnx-action:last-child {
flex-grow: 0;
padding-left: .5rem;
display: inline-flex;
align-items: center
}
}

@media (max-width: 575px) {
.tb-tnx-item {
font-size: 13px
}
.tb-tnx-id {
width: 100%
}
.tb-tnx-id+td {
padding-left: 1.25rem
}
.tb-tnx-info {
width: 65%
}
.tb-tnx-amount:last-child {
width: 25%
}
.tb-tnx-amount:not(:last-child) {
display: none
}
.tb-tnx-amount.is-alt {
position: absolute;
display: inline-flex;
right: 1.25rem;
width: auto
}
.tb-tnx-amount.is-alt .tb-tnx-total {
order: 5;
padding-left: 1.25rem
}
}

@media (min-width: 768px) {
.tb-tnx-desc,
.tb-tnx-date,
.tb-tnx-total,
.tb-tnx-status {
display: inline-block;
vertical-align: middle
}
.tb-tnx-desc,
.tb-tnx-date {
width: calc(50% - 4px)
}
.tb-tnx-total {
width: calc(60% - 4px)
}
.tb-tnx-status {
width: calc(40% - 4px)
}
.tb-tnx-amount {
width: 25%
}
.tb-tnx-date .date,
.tb-tnx-date>span>span {
width: calc(50% - 4px);
display: inline-block
}
.tb-tnx-date .date+.date,
.tb-tnx-date>span>span+span {
padding-left: 0.75rem
}
}

.tb-odr-item {
font-size: 14px
}

.tb-odr-item td {
padding: 1rem .25rem;
vertical-align: middle
}

.tb-odr-id,
.tb-odr-total {
display: block
}

.tb-odr-item .tb-odr-id,
.tb-odr-item .tb-odr-total {
font-weight: 500
}

.tb-odr-id a {
display: block
}

.tb-odr-id span {
font-weight: 500
}

.tb-odr-item .tb-odr-total {
color: #364a63
}

.tb-odr-head .tb-odr-item .tb-odr-total {
color: inherit
}

.tb-odr-item .tb-odr-date {
color: #8094ae
}

.tb-odr-head .tb-odr-item .tb-odr-date {
color: inherit
}

.tb-odr-action>div,
.tb-odr-action>.btn {
vertical-align: middle
}

.tb-odr-action:last-child {
padding-left: 1.25rem;
text-align: right
}

.tb-odr-btns .btn+.btn {
margin-left: .5rem
}

.tb-odr-id {
min-width: 90px
}

.tb-odr-head {
background: #f5f6fa
}

.tb-odr-head th {
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.12em;
color: #8094ae;
padding: 0.625rem .25rem
}

@media (max-width: 767px) {
.tb-odr-item {
display: flex
}
.tb-odr-item th,
.tb-odr-item td {
flex-grow: 1
}
.tb-odr-amount {
text-align: right
}
}

@media (max-width: 575px) {
.tb-odr-item {
font-size: 13px
}
.tb-odr-amount {
width: 24%
}
.tb-odr-info {
width: 44%
}
.tb-odr-action {
width: 2rem;
min-width: auto
}
.tb-odr-item .tb-odr-action {
padding-left: .5rem
}
}

@media (min-width: 768px) {
.tb-odr-info {
min-width: 55%
}
.tb-odr-amount {
width: 30%
}
.tb-odr-total {
min-width: 100px
}
.tb-odr-id,
.tb-odr-total {
display: inline-block
}
.tb-odr-id+span,
.tb-odr-total+span {
padding-left: 1rem
}
.tb-odr-btns+.dropdown,
.tb-odr-btns+.btn {
margin-left: .75rem
}
}

@media (min-width: 992px) {
.tb-odr-id {
min-width: 120px
}
.tb-odr-total {
min-width: 50%
}
}

.tb-ftr-head th {
padding-top: 0.75rem;
padding-bottom: 0.75rem
}

.table .tb-ftr-head th {
font-size: 12px;
color: #8094ae;
line-height: 1.5;
text-transform: uppercase;
letter-spacing: 0.12em
}

.tb-ftr-item td {
border-top: 0
}

.tb-ftr-info {
font-weight: 500;
width: 60%
}

.tb-ftr-plan {
text-align: center
}

.tb-ftr-plan .plan-name {
display: none
}

.tb-ftr-plan .icon {
color: #6576ff
}

@media (max-width: 575px) {
.tb-ftr-item {
display: flex;
flex-wrap: wrap;
border-top: 1px solid #e5e9f2;
padding: 0.75rem 1.25rem
}
.tb-ftr-head .tb-ftr-item {
padding: 0
}
.tb-ftr-item:first-child {
border-top: 0
}
.table .tb-ftr-item td {
padding: 0.25rem 0
}
.table .tb-ftr-item .tb-ftr-plan {
padding-right: 1.25rem
}
.tb-ftr-info {
width: 100%
}
.tb-ftr-plan .icon {
font-size: 1rem;
vertical-align: middle;
margin-right: .25rem
}
.tb-ftr-plan .plan-name {
display: inline;
vertical-align: middle;
line-height: 1.3;
font-size: 12px
}
.tb-ftr-head .tb-ftr-plan {
display: none
}
}

@media (min-width: 575px) {
.tb-ftr-item:first-child td {
padding-top: 1.25rem
}
.tb-ftr-item:last-child td {
padding-bottom: 1.25rem
}
}

.is-compact .tb-tnx-item td,
.is-compact .tb-odr-item td {
padding-top: .4rem;
padding-bottom: .4rem
}

@media (max-width: 767px) {
.is-compact .tb-tnx-item,
.is-compact .tb-odr-item {
padding-top: .5rem;
padding-bottom: .5rem
}
.is-compact .tb-tnx-item td,
.is-compact .tb-odr-item td {
padding-top: 0;
padding-bottom: 0
}
}













.custom_table{
  
}

.custom_table thead tr{
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  background: #f5f6fa;
}

.custom_table thead tr td,
.custom_table thead tr th {
color: #8094ae;
padding: 0.625rem .8rem
}

.custom_table tbody tr{
  font-size: 14px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
}

.custom_table tbody tr .content{
  font-weight: 500;
  color: #526484;
  white-space: nowrap;
  /* padding: 0 .25rem */
  max-width: 150px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
 /* display: block;
  display: -webkit-box;*/
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.custom_table tbody tr .dropdown-toggle{
  padding: 0.35rem 0.5rem 0.15rem;
  line-height: 0.7;
  background-color: #dae0e5;
  border-color: #dae0e5;
}

.custom_table tbody tr .dropdown-item{
  font-size: 0.9rem;
  padding: .25rem 1rem;
}

@media (max-width: 767px) {
  .custom_table thead tr th {
    /* flex-grow: 1; */
    padding-top: .5rem;
    padding-bottom: .5rem
  }
}